@import "compass"; 

body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

.main {
	margin: 0 auto;
	min-height: 5000px;
	padding: 0;
	position: relative;
	
	.demos {
		@include box-sizing(border-box);
		@include box-shadow(0 0 0 3px black);
		display: block;
		height: 700px;
		margin: 0;
		padding: 0;
		position: relative;
		width: 100%;
		
		h1,
		p {
			margin-top: 0;
			&:first-child {
				padding: 50px 0 0 0;
			}
		}
		
		a {
			color: black;
		}
		
		code {
			font-size: 14px;
			width: 100%;
		}
				
		&.buffer {
			padding: 50px 0;
		}
		
		&.unsticky {
			background: #E5EAAA;
		}
		
		&.another-element {
			background: #FF776F;
		}
		
		&.flush {
			background: #C33B49;
			
			p,
			code {
				color: white;
			}
			
		}
		
		&.buffer {
			background: #2C2141;
			
			p,
			code {
				color: white;
			}
			
			&.stuck {
				top: 50px;
			}
			
		}
		
		&.css {
			background: white;
			height: 500px;
		}
		
		.sticky {
			@include background(rgba(0,0,0,0.3));
			@include box-sizing(border-box);
			height: 250px;
			margin: 0 auto;
			padding: 0 20px;
			position: relative;
			width: 500px;
			vertical-align: middle;
			
			&.stuck {
				left: 50%;
				margin: 0 0 0 -250px;
				position: fixed;
				top: 0;
			}
				
			&.regular {
				@include background(none);
			}
			
			&.flush {
				
				p,
				code {
					color: white;
				}
				
			}
			
			&.buffer {
				
				p,
				code {
					color: white;
				}
				
				&.stuck {
					top: 50px;
				}
				
			}

		}
		
	}
	
}